
.sidenav {
    height: 81%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color:grey;
    overflow-x: scroll;
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: palevioletred;
  }

  #accordion{
    width: 70%;
    margin-left: 50%;
  }