<mat-card>
  <mat-card-content>

    <div class="demo-carousel">
      <mat-carousel #matCarousel [timings]="timings" [autoplay]="autoplay" [interval]="interval" [loop]="loop"
        [hideArrows]="hideArrows" [hideIndicators]="hideIndicators" [color]="color" [maxWidth]="maxWidth"
        [proportion]="proportion" [useKeyboard]="useKeyboard" [useMouseWheel]="useMouseWheel"
        [orientation]="orientation" [slides]="slides">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slidesList; let i = index"
          image="assets/abstraction-1/{{slide}}" [overlayColor]="overlayColor" [hideOverlay]="hideOverlay">
          <ng-container *ngIf="showContent">
            <div
              style="width: 100%; height: 80%; display: flex; align-items: flex-start ; flex-direction: column; justify-content: flex-end; margin-bottom: auto;">

                      <button type="button" class="btn btn-link " (click)="loadVideos1()">Program 1</button>
                    <button type="button" class="btn btn-link " (click)="loadVideos()">Video 1</button>
                    <button type="button" class="btn btn-link " (click)="loadVideos()">Program 3</button>
                </div>
          </ng-container>
        </mat-carousel-slide>
      </mat-carousel>
    </div>

  </mat-card-content>
</mat-card>