<div>
    <div class="jumbotron">
        <h2>Welcome to Glabs</h2>
        <div class="row">
            <div class="col-md-5 col-lg-6">
                <br>
                <h3>Services</h3>
                <p>The high-level Keras API provides building blocks to create and train deep learning models. Start
                    with these beginner-friendly notebook examples, then read the TensorFlow Keras guide.</p>
                <ul class="list-group">
                    <a href="#">1.Basic classification</a>
                    <a href="#">2.Text classification</a>
                    <a href="#">3.Regression</a>
                    <a href="#">4.Overfitting and underfitting</a>
                    <a href="#">5.Save and load</a>

                </ul>
                <br>
                <button type="button" class="btn btn-info">
                    READ THE GUIDE
                </button>
            </div>
            <mat-card class="example-card">
                <mat-card-header><b>Code</b></mat-card-header>
                <mat-card-content>
                    <p>
                        package glabs;
                                                                                             
                    </p>
                </mat-card-content>
             <br><br><br><br><br><br><br><br>
                <mat-card-actions><button type="button" class="btn btn-warning">RUN THE CODE</button>
                </mat-card-actions>
            </mat-card>
        </div>


        <div class="row">
            <div class="col-md-5 col-lg-6">
                <br>
                <h3>Clients</h3>
                <p>Eager execution provides an imperative, define-by-run interface for advanced operations. Write
                    custom layers, forward passes, and training loops with auto‑differentiation. Start with these
                    notebooks</p>

                <button type="button" class="btn btn-info">
                    READ THE GUIDE
                </button>
            </div>
            <div class="col-md-5 col-lg-6">
                <br>
                <h3>Projects</h3>
                <p>Estimators can train large models on multiple machines in a production environment. TensorFlow
                    provides a collection of pre-made Estimators to implement common ML algorithms.</p>
                <button type="button" class="btn btn-info">
                    READ THE GUIDE
                </button>
            </div> </div>

                <br><br>
                <div class="well">
                <h3>Videos and Updates</h3>
                <p>Subscribe to the TensorFlow YouTube channel and blog for the latest videos and updates.</p>
                <br>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                  </div>
                <br>
                <button type="button" class="btn btn-info">WATCH THE VIDEO</button>
            </div>

        
    </div>
</div>